@font-face {
	font-family: 'Akkurat Pro';
	src: url('../fonts/AkkuratPro-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AkkuratPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/AkkuratPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/AkkuratPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../fonts/AkkuratPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/AkkuratPro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Akkurat Pro';
	src: url('../fonts/AkkuratPro-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AkkuratPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/AkkuratPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../fonts/AkkuratPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: bold;
}

h6.contact-us {
	font-family: "Akkurat Pro";
	font-size: 12pt;
	font-weight: bold;
}

p.contact-us {
	font-family: "Akkurat Pro";
	line-height: 1.5; 
	font-size: 12pt;
}

#header {
	font-family: "Akkurat Pro";
	font-weight: bold;
}

button {
	font-family: 'Akkurat Pro';
}

.call-me {
	font-family: 'Akkurat Pro';
	color: #fff;
	font-size: 12pt;
}

.picto-text {
	font-family: 'Akkurat Pro'!important;
	color:#12172B;
}

.white-text {
	color: #fff;
	font-size: 14px;
}

@media (min-width: 1200px) {
	.row {
		margin-right: 50px;
		margin-left: 50px;
	}

	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
		padding-right: 0px;
    	padding-left: 0px;
	}
}